<div class="hero-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key %>')">
  <div class="hero-list-info">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="movie-lists">
    <div class="movie-lists-header">
        <h2>My movies</h2>
        <div class="movie-lists-btn">
          <%= link_to new_list_bookmark_path(@list) do %>
            <i class="fa-solid fa-plus" style="margin-right: 5px"></i>
            Add movie
          <% end %>

          <%= link_to edit_list_path(@list) do %>
            <i class="fa-solid fa-pen" style="margin-right: 5px"></i>
            Edit list
          <% end %>

          <%= link_to list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash" style="margin-right: 5px"></i>
            Delete list
          <% end %>
        </div>
      </div>

      <div class="cards cards-movie">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card movie">
            <div class="movie-img">
              <%= image_tag bookmark.movie.poster_url, alt: "Movie poster", width: 200 %>
            </div>

            <div class="movie-info">
              <h3><%= bookmark.movie.title %></h3>
              <p><%= bookmark.movie.overview %></p>


              <div class="movie-comment">
                <p><i class="fa-solid fa-quote-left" style="margin-right: 10px"></i><%= bookmark.comment %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
