<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <div class="header_logo"><%= image_tag "logo.png", alt: "web logo", width: 50 %> Phoenix movies</p></div>

      <div class="header_links">
        <%= link_to "My lists", lists_path(@lists) %>
        <%= link_to "New list", new_list_path(@list) %>
      </div>
    </header>

    <%= yield %>

    <footer>
      Phoenix Movies © 2023. All rights reserved
    </footer>
  </body>
</html>
